<entry1> // a valid set for a user in a valid proxyBox
    <username>
    ”username” // a valid user name
    </username>
    <password>
    H(pwd)  // hash value of the pwd or passphrase: recommendation, use SHA-256
            // or if you want you can use double-hashing construction w/ differeht Hash functions
    </password>
    <proxybox ID>
    proxyBoxID
    </proxyBoxID>
</entry 1>