<moventry>
    <movie>
        “the name of the movie”
    </movie>
    <ppvprice>
        value
    </ppvprice>
    <cryptographicconfig>
        <ciphersuite>
            <confidentiality>
                <spec>Ciphersuite spec</spec>
                <keysize>keysize</keysize>
                <key>key</key>
                <iv>iv</iv>
            </confidentiality>
            <integrity>
                <spec>Macsuite spec</spec>
                <keysize>mackeysize</keysize>
                <key>mackey</key>
            </integrity>
        </ciphersuite>
    </cryptographicconfig>
</moventry>